.button {
    position: fixed;
    top: 88vh;
    left: 78vw;
    width: 60px;
    height: 60px;
    background-color: #DD022C;
    color: white;
    border-radius: 100%;
    border: none;
    font-size: 40px;
    padding: 0;
    margin: 0;
    padding-top: 9px;
}

.button:focus {
    outline: none;
    background-color: #AC0021;
}