.wrapper {
    display: grid;
    grid-template-rows: 29.3vh 20vh 11.5vh 11.5vh 11.5vh 11.5vh;
    grid-template-columns: 100vw;
}

.link {
    text-decoration: none;
}

.fadeout {
    position: fixed;
    top: 90%;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(to bottom, transparent, white);
}

input[type=text] {
    text-align: center;
    color: #DD022C;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.205em;
}