.link {
    display: flex;
    justify-content: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    width: 99.5vw;
    height: 2.5vh;
    border: 1px solid #DD022C;
    color: #DD022C;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.205em;
    text-decoration: none;
}

.link:focus {
    text-decoration: none;
    outline: none;
    background-color: #DD022C;
    color: white;
}